body{
    background-color: #74b49b;
    font-family: monospace;
}
.x
{
    background-color: rgba(255, 255, 255, 0.63);
    border: 1px solid black;
    padding: 12px;
    width: 70% auto;
    margin: 0 auto;
}
fieldset
{
    margin-bottom: 12px;
}
legend
{
    background-color: #74b49b;
    padding: 5px;
    border-radius: 20px;
    font-weight: bold;
}
img
{
    border-radius: 50%;
    margin-bottom: 12px;
    margin-right: 30px;
    float: left;
}
span
{
    font-weight: bold;
}
.tabla
{
    background:white;
    width: 70% auto;
    margin:50px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 50px;
}
.tabla-titulo
{
    grid-column-start:1;
    grid-column-end:5;
    background: rgba(40,65,120,1);
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 1.7em;
}
.tabla-Cabecera, .tabla-item{
    display:flex;
    justify-content:center;
    align-items:center;
}
.tabla-Cabecera
{
    font-weight: bold;
    font-size: 1.3em;
}
.tabla-item
{
padding: 10px;
font-size: 1.1em;
}